@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body{
  --padding-lf: 5vh;
}

nav{
  padding-left: var(--padding-lf);
  padding-right: var(--padding-lf);
}

.content{
  width: 100%;
  min-height: 100vh;
  padding-left: var(--padding-lf);
  padding-right: var(--padding-lf);
}

footer{
  width: 100%;
  min-height: 10vh;
  padding-left: var(--padding-lf);
  padding-right: var(--padding-lf);
}